{% extends 'main.html' %}

{% block content %}

<div id="container">
    <div id="options">Hello</div>
    <div id ="topbar">Top grid</div>

    <div id="sidebar">Sidebar</div>
    <div id="maingrid">
        <div id="calendar-grid">

            <div id="label-col"></div>
            <div id="schedule1"></div>
            <div id="schedule2"></div>
            <div id="schedule3"></div>
            <div id="schedule4"></div>
            <div id="schedule5"></div>
            <div id="schedule6"></div>
            <div id="schedule7"></div>

        </div>
    </div>
</div>

{% endblock %}