/* Some variables :) */
:root{
    --row-gap: 0.15rem;
}

*{
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: minmax(50px, auto);
}

#options{
    background-color: aqua;
}

#topbar{
    background-color: aquamarine;
    position: sticky;
}

#sidebar{
    background-color: azure;
}

/* contains calendar grid */
#maingrid{
    background-color: blueviolet;
    max-height: 100%;
}

/* contains entire calendar */
#calendar-grid{
    background-color: rgb(177, 177, 177);
    display: grid;
    grid-template-columns: 1fr repeat(7, 2fr);
    column-gap: var(--row-gap);
    max-height: 85vh;
    overflow-y: scroll;
}


/* different parts of calendar grid */
 .label-col, .event-col{
    background-color: rgb(177, 177, 177);
    display: grid;
    grid-auto-rows: 100px;
    row-gap: var(--row-gap);
    justify-items: stretch;
    align-items: stretch;
   
    
}

.title-grid{
    display: grid;
}

.schedule-col{
    display: grid;
    grid-template-rows: 100px auto;
    row-gap: var(--row-gap);
}

/* different "boxes" in calendar labels and events */
.label, .schedule-name{
    display: grid;
    background-color: #f3f6f9;
}

.label{    
    font-size: xx-small;
    justify-items: end;
    align-items: end;
}

.schedule-name{
    
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: solid var(--row-gap) rgb(177, 177, 177);
    z-index: 2;
    
}

.event-box{
    background-color: #f3f6f9;
    height: 100px;
    
}

.event-container{
    position: relative;
    background-color: lightblue; 
    border : solid 1px black;
}

.event-title{
    
}

.event-time{
    
}

/* messing around with media queries les go */
/* not bothering how it looks in portrait mode for now */
@media (orientation: portrait){
    #maingrid{
        display: none;

    }
}

