/* Some variables :) */
:root{
    --row-height: 125px;
    --row-gap: 0.15rem;
    --gap-color :rgb(177, 177, 177);
}

*{
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: minmax(50px, auto);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#options{
    background-color: aqua;
}

#topbar{
    background-color: aquamarine;
  
}

#sidebar{
    background-color: azure;
}

/* contains calendar grid */
#maingrid{
    background-color: blueviolet;
    height: 100%;
}

/* contains entire calendar */
#calendar-grid{
    background-color: var(--gap-color);
    display: grid;
    grid-template-columns: 1fr repeat(7, 3fr);
    column-gap: var(--row-gap);
    height: 100%;
    overflow-y: scroll;
}


/* different parts of calendar grid */
.label-items, .event-col{
    background-color: var(--gap-color);
    display: grid;
    grid-auto-rows: var(--row-height);
    row-gap: var(--row-gap);
    justify-items: stretch;
    align-items: stretch; 
}


.label-col, .schedule-col{
    display: grid;
    grid-template-rows: 70px auto;
    row-gap: var(--row-gap);
}

/* different "boxes" in calendar labels and events */
.label, .schedule-name{
    display: grid;
    background-color: #f3f6f9;
}

.label{     
    font-size: xx-small;
    justify-items: end;
    align-items: end;
}

.schedule-name{
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: solid var(--row-gap) var(--gap-color);
    z-index: 10;
}

.event-box{
    background-color: #f3f6f9;
    height: var(--row-height);
    position: relative;
   
}

.event-container{
    position: relative;
    border : solid 1px black;
    font-size: 0.8em;
    background-color: lightblue; 
    z-index: 2;

}

.event-title{
    background-color: lightblue; 
    
}

.event-time{
    background-color: lightblue; 
    
}

.form{
    position: absolute;
    width: 100%;
    top: 0;
    left: 105%;
    background-color: blanchedalmond;
    z-index: 5;
  
}

.form-container{
    position: relative;
    height: 30vh;
    width: 40vw;
    background-color: blanchedalmond;
    z-index: 10;
}


.form-container h2{
    
}
.form-container input{
    position: relative;
    
}   




/* messing around with media queries les go */
/* not bothering how it looks in portrait mode for now */
@media (orientation: portrait){
    #maingrid{
        display: none;

    }
}

