name: Testing
on: push

jobs:
  test_project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run django unit tests
        run: |
          pip install -r requirements.txt
          python manage.py test api.tests
